.item {
  display: grid;
  position: relative;
  grid-template-rows: repeat(2, min-content);
  align-content: center;
  align-self: end;
  justify-content: center;
  gap: 15px;
  /* margin-top: -100px; */
}

.item h1 {
  margin: 0px;
  font-family: "Antipasto Pro";
  font-weight: 400;
  font-size: 113px;
}

.item h1 span {

  line-height: 0%;
  font-family: "Gunny Rewritten";
  font-size: 149px;
}

.item h1:nth-of-type(1) {
  padding-left: 95px;
  position: relative;
}


.item h1:nth-of-type(1) span {
  position: relative;
  color: var(--subtlePurple);

}


.item h1:nth-of-type(1) span::before {
  content: "";
  display: inline-block;
  width: 193px;
  height: 25px;
  background-image: url('/purpleVector.svg');
  position: absolute;
  bottom: 25px;
}

.item h1:nth-of-type(2) span {
  color: var(--delicateOrange);
  position: relative;

}

.item h1:nth-of-type(2) span::before {
  content: "";
  display: inline-block;
  width: 333px;
  height: 18px;
  background-image: url('/orangeVector.svg');
  position: absolute;
  bottom: 25px;
}

.item h1:nth-of-type(1)::before {
  content: "";
  display: inline-block;
  width: 212px;
  height: 172px;
  background-image: url('/brain.svg');
  position: absolute;
  background-size: cover;
  /* Масштабирует изображение по размеру псевдоэлемента */
  background-repeat: no-repeat;
  /* Запрещает повторение фона */
  background-position: center;
  bottom: 0px;
  left: -200px;
}

.item h1:nth-of-type(1)::after {
  content: "";
  display: inline-block;
  width: 301px;
  height: 611px;
  background-image: url('/neuron.svg');
  position: absolute;
  bottom: -300px;
  right: -320px;
  transform: scale(0.8);
}
