.item {
  display: flex;
  position: relative;
  /* Используем Flexbox */
  overflow-x: hidden;
  /* Скрываем содержимое за пределами контейнера по горизонтали */
  white-space: nowrap;
  /* Запрещаем перенос строк внутри контейнера */
  /* width: 100vw; */
  /* Устанавливаем ширину контейнера */
  gap: 20px;
  padding-left: 535px;
  overflow-x: auto;
  height: 668px;
  width: 100pw;
  overflow-y: hidden;
  /* verflow-x: hidden; */
}

.item::-webkit-scrollbar {
  width: 0;
}



/* Карточка  */
.item div {
  display: grid;
  grid-template-rows: 70px auto auto 102px;
  display: inline-block;
  min-width: 415px;
  height: 668px;
  border-radius: 40px;
  background: #FFF;
}

.item div h1 {
  padding: 16px;

  white-space: normal;
  /* Разрешает перенос текста, если по умолчанию установлен nowrap */
  overflow-wrap: break-word;
}

.item div p {
  padding: 16px;


  white-space: normal;
  /* Разрешает перенос текста, если по умолчанию установлен nowrap */
  overflow-wrap: break-word;
}

.item::before {
  content: "";
  display: inline-block;
  width: 260px;
  height: 272px;
  background-image: url('/brain2.svg');
  position: absolute;
  background-size: cover;
  /* Масштабирует изображение по размеру псевдоэлемента */
  background-repeat: no-repeat;
  /* Запрещает повторение фона */
  background-position: center;
  bottom: 50px;
  left: 300px;
}
